/* FORMS */
.well {
	background-color: white;
	margin: 20px auto;
	display: table;
}

.well .buttons,.well .links {
	text-align: right;
}

/* FIELDS */
textarea:focus,input[type="text"]:focus,input[type="password"]:focus,input[type="datetime"]:focus,input[type="datetime-local"]:focus,input[type="date"]:focus,input[type="month"]:focus,input[type="time"]:focus,input[type="week"]:focus,input[type="number"]:focus,input[type="email"]:focus,input[type="url"]:focus,input[type="search"]:focus,input[type="tel"]:focus,input[type="color"]:focus,.uneditable-input:focus
	{
	background-color: #ffffff;
	border: 1px solid #cccccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
}

input:focus:required:invalid:focus,textarea:focus:required:invalid:focus,select:focus:required:invalid:focus {
	border-color: #939062;
	-webkit-box-shadow: 0 0 6px #939062;
	-moz-box-shadow: 0 0 6px #939062;
	box-shadow: 0 0 6px #939062;
}

input:focus:required:invalid,textarea:focus:required:invalid,select:focus:required:invalid {
	color: #939062;
	border-color: #939062;
}

.input-auto {
	max-width: 140px;
	width: auto;
}

/* BUTTONS */
.btn-scio {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #5bb75b;
	*background-color: #51a351;
	background-image: -moz-linear-gradient(top, #3d7b3d, #214321);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3d7b3d), to(#214321) );
	background-image: -webkit-linear-gradient(top, #3d7b3d, #214321);
	background-image: -o-linear-gradient(top, #3d7b3d, #214321);
	background-image: linear-gradient(to bottom, #3d7b3d, #214321);
	background-repeat: repeat-x;
	border-color: #51a351 #214321 #387038;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3d7b3d', endColorstr='#ff214321', GradientType=0 );
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false );
}

.btn-scio:hover,.btn-scio:active,.btn-scio.active,.btn-scio.disabled,.btn-scio[disabled] {
	color: #ffffff;
	background-color: #214321;
}

.btn-scio-light {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #bfbb80;
	*background-color: #bfbb80;
	background-image: -moz-linear-gradient(top, #bfbb80, #939062);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#bfbb80), to(#939062) );
	background-image: -webkit-linear-gradient(top, #bfbb80, #939062);
	background-image: -o-linear-gradient(top, #bfbb80, #939062);
	background-image: linear-gradient(to bottom, #bfbb80, #939062);
	background-repeat: repeat-x;
	border-color: #51a351 #214321 #387038;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffbfbb80', endColorstr='#939062', GradientType=0 );
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false );
}

.btn-scio-light:hover,.btn-scio-light:active,.btn-scio-light.active,.btn-scio-light.disabled,.btn-scio-light[disabled] {
	color: #ffffff;
	background-color: #939062;
}

/* SPAN */
.required-indicator {
	color: #B94A48;
}