.center {
	text-align: center;
}

/* LINKS */
a {
	color: #3d7b3d;
	text-decoration: none;
}

/* FONTS */
.scio-color-brown {
	color: #543122;
}

.scio-color-green {
	color: #225429;
}

.font-little {
	font-size: 10px;
}

/* SPAN */
.scio-username {
	font-size: 18px;
	font-weight: bold;
	color: white;
	vertical-align: middle;
	margin: 0px 10px;
}

/* FOOTER */
.footer {
	border-top-color: #939062;
	border-top-style: solid;
	border-top-width: 1px;
	text-align: center;
}

/* LINKS */
.decorated {
	color: #225429;
	text-decoration: underline;
}

.link-tag, .link-tag:hover {
	color: white;
	text-decoration: none;
}